body {
  text-align: center;
  background-color: #011f3f;
}

body,
h1 {
  padding: 0;
  margin: 0;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  padding: 1%;
  margin: 1%;
  color: #fef2bf;
  height: 10vh;
}

#start {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  background-color: #fef2bf;
  color: #011f3f;
  padding: 1%;
  border-radius: 8%;
}

.started {
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
